/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 64px;
}

.navbar {
    border-radius: 0px;
    border: 0px !important;
}

.navbar-toggle {
    border-radius: 0px;
    border: 0px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #B2DBFB;
}

.glyphicon {
    padding-right: 5px;
}

.page-footer{
    text-align: right;
 }

.page-header {
    border-bottom: 0px;
}

.jumbotron {
    background-color: #EEEEEE;
    text-align: center;
    margin-bottom: 0px;
}

.navbar-form {
    border-top: none;
    border-bottom: none;
    box-shadow: none;
}

.list-section {
    padding-top: 50px;
    padding-bottom: 27px;
}

.menu-section, .search-section {
    padding-top: 50px;   
}

.menu-section h1, .search-section h3 {
    margin: 0px;
    padding: 0px;
}